body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
background: #e5e5e5;
margin: auto 0;
}

h1{
text-align: center;
}

h6{
    text-align: center;
}

.main{
 max-width: 800px;
 width: 100%;
 margin: auto;
 padding: 40px;
}

.formulario{
width: 80%;
max-width: 850px;
margin: 0 auto;
}

.formulario_label{
display:block;
font-weight: bold;
padding: 10px;
cursor:pointer;
}

.formulario_input{
width: 100%;
background: rgb(245,240,240);
border:3px solid transparent;
border-radius: 6px;
height: 45px;
}

.formulario_input:focus{
border: 3px solid #fd0808;
outline:none;
box-shadow: 3px 0px 30px rgba(22,22,22,0.7);
}

.formulario_comentarios{
    width: 100%;
    background: rgb(245,240,240);
    border:3px solid transparent;
    border-radius: 6px;
    height: 120px;
}

.formulario_comentarios:focus{
    border: 3px solid #fd0808;
    outline:none;
    box-shadow: 3px 0px 30px rgba(22,22,22,0.7);
    }

.Formulario_btn{
height: 45px;
width: 100%;
background: #070707;
color:#e5e5e5;
font-weight: bold;
border-radius: 6px;
cursor: pointer;
}

.Formulario_btn:hover{
    box-shadow: 3px 0px 30px rgba(22,22,22,0.7);
    font-size: 24px;
}

  
.header{
background: rgb(9, 5, 66);
color: #e5e5e5;
padding: 3rem;
}


.main{

}

.footer{

    background: rgb(48, 162, 214);
    padding: 2rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/*--------------------------------------------------*/
.form-container, .resultado-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-container table {
    width: 100%;
}

.form-container td {
    padding: 10px 0;
}

.form-container input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

/*Resultados*/
.resultado {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #333;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.resultado {
    animation: fadeIn 1s ease-in-out;
}


.resultado strong {
    color: #4CAF50;
    font-weight: bold;
    font-size: 20px;
}
